* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #020617;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(56,189,248,.4);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.balance-box {
  text-align: center;
  margin-bottom: 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary div {
  width: 48%;
  background: #020617;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.income { border-left: 4px solid #22c55e; }
.expense { border-left: 4px solid #ef4444; }

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

input {
  background: #0f172a;
  color: #fff;
}

button {
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

li {
  background: #0f172a;
  padding: 8px 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

li.plus { border-right: 4px solid #22c55e; }
li.minus { border-right: 4px solid #ef4444; }

.delete-btn {
  background: transparent;
  border: none;
  color: #ef4444;
  font-weight: bold;
  cursor: pointer;
}
