* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #020617;
}

.logo span {
  color: #38bdf8;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
}

.hero h2 span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* SKILLS */
.skills {
  padding: 60px;
  text-align: center;
}

.skills-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  gap: 20px;
}

.skills-grid div {
  background: #020617;
  padding: 15px;
  border-radius: 8px;
}

/* PROJECTS */
.projects {
  padding: 60px;
  text-align: center;
}

.project-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 25px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  display: inline-block;
  margin: 10px 10px 0 0;
  color: #38bdf8;
  text-decoration: none;
}

/* CONTACT */
.contact {
  padding: 60px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea, button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
