
body{
  background:#0f172a;
  color:white;
  font-family:Segoe UI;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
}

.controls{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

input,button{
  padding:10px 15px;
  border-radius:8px;
  border:none;
}

button{
  background:#22c55e;
  cursor:pointer;
}

#cache{
  display:flex;
  gap:10px;
}

.node{
  background:#1e293b;
  padding:15px 20px;
  border-radius:10px;
  border:2px solid #22c55e;
}
