body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #020617;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

input {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #22c55e;
  cursor: pointer;
}
