body {
  background: #020617;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  color: white;
}

textarea {
  width: 100%;
  height: 80px;
  border-radius: 6px;
  padding: 10px;
  border: none;
  resize: none;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #22c55e;
  cursor: pointer;
}

.note {
  background: #1f2933;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  position: relative;
}

.note button {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  right: 5px;
  top: 5px;
}
